*{
overflow-x:hidden;
}
/*Egen css*/
.container-fluid{
    background-color: grey;/*Generell backgrund färg*/
    font-family: 'Courier New', Courier, monospace;/*font*/
}
.topstart{
    text-align:center;/* enkel align*/

}
.start{/*små design dix för snyggare layout + width + rund kanter + färg*/
    width: 50%;
    border-radius: 10px;
    color: white;
}
.html{
    font-size: 20px; /*Font strlk*/
}
.css{
    font-size:20px;
}
.element_ptxt{
    font-size:20px;
    width: 500px;
}

.id2{
    width:500px;
}


.toppic{
    width:50%
}
.class_ptxt{
    font-size:20px;
    width: 500px;
}
