*{
overflow-x:hidden;
}
/*Egen css*/
.container-fluid{
    background-color: grey;/*Generell backgrund färg*/
    font-family: 'Courier New', Courier, monospace;/*font*/
    font-size:20px;/*storlek text(Var svårt o läds annars)*/
}
.topstart{
    text-align:center;/* enkel align*/

}
.start{/*små design dix för snyggare layout + width + rund kanter + färg*/
    width: 50%;
    border-radius: 10px;
    color: white;
}
.html{
    margin-right:15px;/*Små justeringar var inte nöjd med placering*/
    margin-left: 17px;
}

.element_ptxt{/*bredd*/
    width: 500px;
}

.id2{
    width:500px; /*bredd*/
}


.toppic{
    width:50%
}
.class_ptxt{/*bredd*/
    width: 500px;
}
